body {
    background-color: #282a36;
    color: #f8f8f2;
}

table {
    border-color: #44475a;
}

th, td {
    background-color: #44475a;
    color: #f8f8f2;
}

tr:nth-child(even) {
    background-color: #44475a;
    color: #f8f8f2;
}

tr:hover {
    background-color: #44475a;
    color: #f8f8f2;
}

.dataframe {
    border-color: #6272a4;
}

